:root {
/* ### Primary */

--Red: hsl(0, 100%, 74%);
--Green: hsl(154, 59%, 51%);

/* ### Accent */

--Blue: hsl(248, 32%, 49%);

/* ### Neutral */

--DarkBlue: hsl(249, 10%, 26%);
--GrayishBlue: hsl(246, 25%, 77%);

}

body {
    font-family: 'Poppins', sans-serif;;
    background-image: url(images/bg-intro-mobile.png);
    background-color:hsl(0, 100%, 74%);
    height: 100vh;
    display: flex;
    width: 100%;
}

main {
    display: flex !important;
    width: 100%;
}

.container {
    display: grid;
    align-items: center;
    padding: 2em;
    margin: 0 auto;
    width: 100%;
}

.heading {
    color: white;
    text-align: center;
    line-height: 2;
    margin-bottom: 2em;
}

.heading h1 {
    font-size: 50px;
    line-height: 1.2;
}

.pricing {
    background-color: var(--Blue);
    color: white;
    padding: 1.2em;
    border-radius: 0.7em;
    text-align: center;
    box-shadow: 0px 10px 1px 0px rgb(0 0 0 / 15%);
}

.registration {
    margin-top: 2em;
    background-color: white;
    border-radius: 0.7em;
    padding-bottom: 3em;
    box-shadow: 0px 10px 1px 0px rgb(0 0 0 / 15%);
}

.registration form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.registration form input {
    border-radius: 0.3em;
    padding: 1em;
    border: 1px solid var(--GrayishBlue);
    color: gray;
}

.registration form input:last-child {
    background-color: var(--Green);
    color: white;
    box-shadow: 0px 5px 1px 0px green;
    border-style: none;
    font-size: 1.3em;
    padding: 0.7em;
}

.registration p {
    text-align: center;
    color: var(--GrayishBlue);
    padding: 0em 4em;
    margin: 0;
}

.registration p a {
    color: var(--Red);
    text-decoration: none;
    font-weight: 600;
}

/* for larger resolutions */
@media (min-width: 500px) {
    .container {
        grid-template-columns: 1fr 1fr;
        padding: 8rem;
    }

    .heading {
        text-align: left;
        padding: 2em;
    }
    
}

